.Guidebase {
    margin: 0 65px 0 65px;
}

.Guidebase__container {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 31px;
    display: grid;
    margin-top: 80px;
    padding: 0;
}

.Guidebase__item {
    grid-column: 4 span;
    padding: 45px 10px 42px 20px;
    min-height: 280px;
    border: 1px solid #8C64D8;
    border-radius: 32px;
    list-style: none;
    box-sizing: border-box;
}

.Guidebase__quest {
    max-width: 1308px;
    height: 452px;
    background-image: url(../../images/Frame.png);
    background-repeat: no-repeat;
    margin: 90px 0 90px 0;
    background-size: contain;
}

.Guidebase__item:nth-child(1) {
    grid-row: 1/3;
}

.Guidebase__item:nth-child(6) {
    grid-row: 3/5;
}

.Guidebase__item:nth-child(7) {
    grid-column: 5/-1;
}

.Guidebase__item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.Guidebase__item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.Guidebase__item-icon {
    background-image: url('../../images/cardRed.svg');
    width: 56px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
}

.Guidebase__item-icon:hover {
    transform: scale(1.15);
    transition: transform 0.4s ease;
    cursor: pointer;
}

.Guidebase__header {
    display: flex;
    justify-content: space-between;
}

.Guidebase__logo {
    background-image: url('../../images/Vector.png');
    width: 56px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
}