.RoadMap__progress {
    border: 1px solid #DAEF14;
    border-radius: 20px;
    width: 900px;
    height: 15px;
}

.RoadMap__progress_active {
    background-color: #DAEF14;
    ;
    border-radius: 20px;
    height: 15px;
}

.RoadMapm-main__titile {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    color: #8C64D8;
    margin-top: 380px;
    text-align: center;
    margin-top: 110px;
}

.RoadMap-main {
    display: flex;
    flex-direction: column;
}

.RoadMapm-main__progrss-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.RoadMapm-main__progrss-weeks {
    display: flex;
}

.RoadMapm-main__progrss-week {
    width: 220px;
    height: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-radius: 36px;
    color: #8C64D8;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 10px;
}

.RoadMapm-main__progrss-week:first-child {
    width: 220px;
    height: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-radius: 36px;
    color: #ffffff;
    text-align: center;
    background-color: #8C64D8;
}

.RoadMap__tasks {
    max-width: 1086px;
    list-style: none;
    margin: 50px 120px 100px 120px;
}

.RoadMap__task {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
    align-items: center;
}

.RoadMap__task-complite_yes {
    background-image: url(../../../images/VectorOK.svg);
    width: 33px;
    height: 33px;
    border: none;
    cursor: pointer;
}

.RoadMap__task-complite_no {
    background-image: url(../../../images/progessBtn.svg);
    width: 25px;
    height: 13.77px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

.RoadMap__task_text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #252525
}

.RoadMap__test {
    margin: 0;
    text-align: center;
    height: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #8C64D8;
    margin-bottom: 100px;
    cursor: pointer;
    text-decoration: none;
}

.RoadMap__test:hover {
    transform: scale(1.01);
    transition: transform 0.4s ease;
    cursor: pointer;
}

.RoadMap__progress-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #8C64D8;
    margin-top: 10px;
}