.searchform {
    max-width: 1310px;
    display: flex;
    align-items: center;
    gap: 41px;
    padding: 0;
    justify-content: space-between;
    margin: 50px 65px 40px 65px;
    height: 40px;
}

.searchform__container {
    display: none;
    position: relative;
    width: 100%;
    height: 40px;
}

.SearchForm__error {
    position: absolute;
    top: 30px;
    left: 5px;
    color: #EE3465;
    height: 18px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    width: 225px;
}

.searchform__form {
    position: relative;
    margin: 0 auto;
    background: #FAFAFA;
    border-radius: 36px;
    border: 1.5px solid rgb(170, 170, 170, .5);
    display: flex;
    align-items: baseline;
}

.searchform__input {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border: 1px solid #8C64D8;
    border-radius: 36px;
    width: 1050px;
    height: 40px;
    padding-left: 22px;
}

.searchform__input:focus {
    box-shadow: 0px 10px 20px 5px rgb(52, 86, 243, 0.5);
}

.searchform__button {
    width: 193px;
    height: 40px;
    margin-left: 29px;
    cursor: pointer;
    border: none;
    background-color: #8C64D8;
    border-radius: 20px;
    color: #fff;
    padding: 0;
}

.searchform__button:hover {
    cursor: pointer;
    opacity: .7;
}

.searchform__button:before {
    content: "Найти";
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #DAEF14;
}

.searchform__button_map:before {
    content: "Найти";
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.searchform__button_map {
    width: 193px;
    height: 40px;
    margin-left: 29px;
    cursor: pointer;
    border: none;
    background-color: #DAEF14;
    border-radius: 20px;
    color: #fff;
    padding: 0;
}

.search_opened {
    display: flex;
}

.searchform__input_map {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border: 1px solid #DAEF14;
    border-radius: 36px;
    width: 1050px;
    height: 40px;
    padding-left: 22px;
    color: #000000;
    background-color: aliceblue;
}